<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- build:head -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nipa</title>
    <link rel="stylesheet" href="../resources/font/inter/inter.css">
    <link rel="stylesheet" href="../resources/style/admin.css">
    <link rel="stylesheet" href="../resources/sprite_container/sprite_style/sp_all.css">
</head>

<body>
    <div class="main" role="main">
        <div class="sidebar"></div>
        <div class="container">
            <div class="topbar"></div>
            <!-- build:content -->
        </div>
    </div>
</body>
<!-- build:script -->

<!-- /build:script-->

</html>