$legend-of-change-05 : rgba(255, 81, 81, 0.75);
$legend-of-change-04 : rgba(255, 81, 81, 0.55);
$legend-of-change-03 : rgba(255, 81, 81, 0.25);
$legend-of-change-02 : rgba(255, 81, 81, 0.15);
$legend-of-change-01 : rgba(255, 81, 81, 0);

$legend-of-detection-01 : #000;
$legend-of-detection-02 : #6C6C6C;
$legend-of-detection-03 : #3399FF;
$legend-of-detection-04 : #BB3C3C;
$legend-of-detection-05 : #008CBD;
$legend-of-detection-06 : #FF0000;
$legend-of-detection-07 : #AD00C8;
$legend-of-detection-08 : #8B4513;
$legend-of-detection-09 : #FF0099;
$legend-of-detection-10 : #FFA600;
$legend-of-detection-11 : #FF6200;
$legend-of-detection-12 : #009600;
$legend-of-detection-13 : #3700FF;

$black : #000;
$white : #fff;