@import "./mixin";

table.dataTable>thead>tr>th,
table.dataTable>thead>tr>td {
    padding: 4px 0;
    text-align: center;

    .dt-column-title {
        display: block;
        padding: 12px 0;
        font-size: 16px;
        font-weight: 400;
    }
}
table.dataTable>tbody>tr {
    height: 52px;
    position: relative;
    td {
        position: relative;
        vertical-align: middle;
    }
    td div {
        padding-left: 12px;
    }
    .symbol-state {
        min-width: 171px;
        max-width: 171px;
        width: 171px;
    }
}
table.dataTable>tbody>tr>th,
table.dataTable>tbody>tr>td {
    padding: 0 12px ;
    height: 52px;

    .state-symbol {
        margin: 0 auto;
        // padding: 0;
        // max-width: 127px;
        padding: 0 8px; 
        max-width: 147px;
    }

    .icon {
        display: flex;
        align-items: center;
        gap: 10px;
        height: 100%;
        cursor: pointer;

        &--border {
        cursor: pointer;
            display: inline-block;
            padding: 2px;
            border : 1px solid #bdbdbd;
            border-radius: 50px;
        }
    }
}

table.dataTable.stripe>tbody>tr:nth-child(odd)>*,
table.dataTable.display>tbody>tr:nth-child(odd)>* {
    box-shadow: none;
}
table.dataTable.hover>tbody>tr:hover>*,
table.dataTable.display>tbody>tr:hover>* {
    box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.035);
}
table.dataTable.row-border > tbody > tr > *, table.dataTable.display > tbody > tr > * {
    border-top: none;
}
table.dataTable > tbody > tr > td:first-child {
    min-width: 454px;

    div {
        @include ellipse();
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 80%;
    }
    
}


div.dt-container .dt-paging nav {
    display: flex;
    gap: 12px;
}
div.dt-container .dt-paging .dt-paging-button {
    background-color: #3056d3;
    color: #fff !important;
    border-radius: 4px;
}
div.dt-container .dt-paging .dt-paging-button:hover {
    background: #3056d3;
}


.table-wrap {
    position: relative;
    padding: 12px;
    background-color: #fff;
    border-radius: 8px;
    @include boxShadow();

    .function_button {
        z-index: 100;
        cursor: pointer;
        position: absolute;
        top: 17px;
        right: 12px;
        background-color: #3056d3;
        font-weight: normal;
        height: 48px;
        width: 107px;
        font-size: 16px;
    }

    .dt-info {
        margin-left: 20px;
        font-weight: 500;
    }
    .dt-paging {
        margin-right: 20px;
    }
}

.dt-length {
    margin-left: 24px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;

    select {
        width: 70px;
        height: 33px;
        font-size: 16px;
    }

    label {
        font-weight: 500;
    }
}
div.dt-container select.dt-input {
    padding: 0 0 0 13px;
}

.table-wrap {
    * {
        color: #64748B;
        border-color: #E2E8F0 !important;
    }
    .dt-scroll-headInner {
        border-top: 1px solid
    }
}

div.dt-scroll {
    @include scrollStyle($type : 2);
}