@import "./mixin.scss";

.state-symbol {
    font-size: 16px;
    font-weight: 400;
    padding: 0 9px;
    border-radius: 23px;
    line-height: 24px;
    text-align: center;
    &.completed {
        color: #7885F7;
        background-color: rgba(120, 163,247, 0.15);
    }
    &.error {
        color: #FF857D;
        background-color: rgba(247, 143,120, 0.15);
    }
    &.processing{
        color: #FF7D34;
        background-color: rgba(255, 184, 0, 0.15);
    }
    &.stop_processing {
        color: #9A9A9A;;
        background-color: rgba(185, 185, 185, 0.15);
    }
}

.wrapper--detection_result {
    padding: 54px 39px 61px 60px;
    height: calc(100% - 80px);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    .search {
        width: 320px;
    }

    .drag-item {
        z-index: 100;
        position: absolute;
        background-color: #4B5070;
        width: 2px;
        top: 0;
        bottom: 0;
        left: 50%;
        
        div {
            cursor: grab;
            z-index: 100;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 40px;
            height: 40px;
            background-color: #4B5070;
            border-radius: 20px;
        }
    }

    button {
        cursor: pointer;
        padding: 13px 12px;
        border-radius: 4px;
        border: none;
        color: #fff;
        font-weight: 600;
        &.warring {
            background-color: #FF5757;
        }
        &.undo {
            background-color: #FFCE39;
            color: #FF5757;
        }

        i {
            display: inline-block;
        }
    }


    & > div + div {
        margin-top: 24px;
    }   

    .wrapper__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .wrapper__header .header__item {
        display: flex;
        align-items: center;

        &:first-child {
            gap: 12px;
            span:not(.state-symbol) {
                @include ellipse();
                font-size: 28px;
                font-weight: bold;
                line-height: 30px;
            }
            button {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
                border-radius: 50px;
            }
        }
        &:last-child {
            gap: 24px;
        }
    }

    .wrapper__content {
        display: flex;
        gap: 16px;
        // height: inherit;
        height: calc(100% - 41px - 24px);
        &.wrapper__content--column {
            flex-direction: column;
        }

        &.flex_none {
            display: inherit;
        }
    }

    .info-view {
        width: 288px;
        display: flex;
        flex-direction: column;
        gap: 12px;

        @include scrollStyle($type : 2);

        .info-view__item {
            @include boxShadow();
            overflow-y: auto;
            padding: 8px 0 8px 12px ;
            border-radius: 8px;
            background-color: #fff;

            .form__list {
                // margin: 8px 0 8px 12px;
            }

            &--1 {
                min-height: 406px;
                height: 406px;

                .form__item--result {
                    position: relative;

                    &:before {
                        content: '';
                        position: absolute;
                        top: -4px;
                        left: 0;
                        display: block;
                        width: calc(100% - 14.75px);
                        height: 2px;
                        background-color: #e0e0e0;
                    }
                }
            }
            &--2 {
                min-height: 298px;
                height: 298px;

                .form .form__title_desc .desc:not(.form .form__title_desc .desc:only-child) {
                    padding : 0 8px 0 0;
                }

                .form.form__grid-checkbox ul > li {
                    width: calc(50% - 6px);
                }
                .form.form__grid-checkbox ul > li input[type='checkbox'] + label {
                    cursor: pointer;
                    border-color: #E2E8F0;
                    width: 100%;
                    height: 30px;
                    justify-content: flex-start;
                    transition: .6s cubic-bezier(0.075, 0.82, 0.165, 1);
                    .legend-label {
                        opacity: 0.2;
                        transition: .6s cubic-bezier(0.075, 0.82, 0.165, 1);
                        filter: grayscale(1);
                    }
                    .legend-txt {
                        opacity: 0.3;
                        font-weight: normal;
                    }
                }
                .form.form__grid-checkbox ul > li input[type='checkbox']:checked + label {
                    background-color: #fff;
                    color: #000;
                    .legend-label, .legend-txt {
                        opacity: 1;
                    }
                    .legend-label {
                        filter: grayscale(0);
                    }
                }

                .form__grid-checkbox .wrapper{
                    gap: 6px;
                }
                .form__grid-checkbox input +  label .legend-label {
                    width: 24px;
                    height: 16px;
                    border-radius: 4px;
                    margin: 0 6px;
                } 
                .form__grid-checkbox input +  label .legend-txt {
                    font-size: 13px;
                    line-height: 1.4;
                } 
            }
            &--3 {
                padding-right: 12px;
                min-height: 97px;
                height: 97px;
                .title {
                    height: 28px;
                    padding-right: 0 !important;
                }
                .desc {
                    padding: 0 !important;
                    width: 100%;
                }
            }
            &--4 {
                position: relative;
                height: calc(100% - 384px - 298px - 97px - 36px);

                > div {
                    position: absolute;
                    width: calc(100% - 12px);
                }
            }
        }
    }
    .legend-viwer {
        margin-top: 4px;
        width: 100%;

        .legend-color {
            width: 100%;
            height: 24px;
            background: rgb(255, 81, 81);
            background: linear-gradient(90deg, rgba(255, 81, 81, 0.75) 0%, rgba(255, 81, 81, 0.55) 25%, rgba(255, 81, 81, 0.25) 50%, rgba(255, 81, 81, 0.05) 75%, rgba(255, 81, 81, 0) 100%);
            border-radius: 4px;
        }
        .legend-number ul{
            display: flex;
            justify-content: space-between;
            margin-top: 4px;
        }
        .legend-number li {
            font-size: 12px;
            color: #6e6e6e;
        }
    }
    .map-view {
        width: calc(100% - 288px - 12px);
        height: calc(100% - 25px);
        
        .header__item:last-child {
            button {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                border-width: 1px;
                border-style: solid;
                border-color: #4f4f4f;
                background-color: #fff;
                padding: 0;
                border-radius: 50px;
            }
            button i {
                margin: 4px;
            }
        }
    }
    .map__viwer {
        position: relative;
        margin-top: 18px;
        height: inherit;
        background-color: gray;


        
    }
}