@mixin scrollStyle($type : 1) {
    ::-webkit-scrollbar {
        width: 20px;
        height: 20px;
    }

    // ::-webkit-scrollbar-button {
        // width: 20px;
        // height: 10px;
    // }
  
    ::-webkit-scrollbar-thumb {
        background: #bdbdbd;
        border: 5px solid #ffffff;
        border-top: none;
        border-bottom: none;
        border-radius: 12px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #a3a3a3;
    }

    ::-webkit-scrollbar-thumb:active {
        background: #a3a3a3;
    }

     @if $type == 1 {
       ::-webkit-scrollbar-track {
            background: #ffffff;
            border: 0px none #ffffff;
            border-radius: 0px;
        }
    }
    @else if $type == 2 {
        ::-webkit-scrollbar-track {
            background: #e6e6e6;
            border: 0px none #ffffff;
            border-radius: 0px;
        }
    }

    ::-webkit-scrollbar-track:hover {
        background: #ffffff;
    }

    ::-webkit-scrollbar-track:active {
        background: #ffffff;
    }

    ::-webkit-scrollbar-corner {
        background: transparent;
    }
}

@mixin boxShadow() {
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.15);
}